body {
  background-image: url(../img/75309657_p0.jpg);
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
footer {
  background-color: rgb(38, 38, 38);
  height: fit-content;
}
#uni-background {
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(255, 255, 255, 0.68);
  box-shadow: 10px #eeeeee;
}
.no-margin-tb {
  margin-top: 0px;
  margin-bottom: 0px;
}
#headline-en {
  font-size: 110%;
  text-align: center;
  margin-top: 0.1em;
  margin-bottom: 2em;
}
#headline-zh {
  text-align: center;
  margin-bottom: 0.1em;
  font-size: 300%;
}
#content-body{
    margin-left: 5%;
    margin-right: 5%;
}
.nb{
  text-align: center;
  font-size: 200%;
}
.nb b{
  text-align: inherit;
  font-size: 300%;
}
#footer-flexbox{
    display: flex;
    justify-content: center;
    flex-direction:column;
}
.footer-flexcont{
    align-self: center;
}
#bg-source a{
    color: inherit;
    text-decoration: none;
}
#links{
  text-decoration: none;
  align-self:flex-end;
  
}
#links a{
  color: inherit;
  text-decoration: inherit;
}
#auth{
    float:right;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1em;
}
.white-text{
    color: white;
}