body {
  background-image: url(../img/7530900657_p0.webp);
  background-position-x: -30px;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-color: gainsboro;
}
footer {
  background-color: rgb(38, 38, 38);
  height: fit-content;
}
#uni-background {
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(255, 255, 255, 0.68);
  box-shadow: 10px #eeeeee;
}
.no-margin-tb {
  margin-top: 0px;
  margin-bottom: 0px;
}
#introduction{
  text-align: center;
  font-size: larger;
}
#headline-en {
  font-size: 110%;
  text-align: center;
  margin-top: 0.1em;
  margin-bottom: 2em;
}
#headline-zh {
  text-align: center;
  margin-bottom: 0.1em;
  font-size: 300%;
}
#content-body{
    margin-left: 5%;
    margin-right: 5%;
}
.nb{
  text-align: center;
  font-size: 200%;
}
.nb b{
  text-align: inherit;
  font-size: 200%;
}
#footer-flexbox{
    display: flex;
    align-items: center;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 10em;
}
#footer-info-wrapper{
  margin: 1% 1%;
}
#bg-source{
    color: white;
    text-decoration: none;
}
.plain-link{
  text-decoration: none;
  color: white;
}
#links h3{
  margin :5% 5%;
}
#links a{
  color: inherit;
  text-decoration: inherit;
  margin:3% 5%;
}
.white-text{
    color: white;
}
@font-face {
  font-family: JetbrainsMono;
  src: url(../fonts/JetBrainsMono/webfonts/JetBrainsMono-Regular.woff2);
}